<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @house.banner_url %>);">
  <div class="container">
    <h1><%= @house.name %></h1>
    <%= link_to 'Condemn', new_house_monster_path(@house), class: 'btn btn-danger mt-2'  %>
  </div>
</div>
<div class="container">
  <div class="cards mt-3">
    <% @house.monsters.each do |monster| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= monster.image_url %>)">
        <%= monster.name %>
        <%= link_to new_monster_curse_path(monster), class: 'card-link card-add-link' do %>
          <i class="fa-solid fa-bolt"></i>
        <% end %>
        <%= link_to monster_path(monster), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'card-link card-remove-link' do %>
          <i class="fa-solid fa-cross"></i>
        <% end %>
        <div class="card-tags">
          <% monster.powers.each do |power| %>
            <span><%= power.name %></span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row justify-content-center my-3">
    <div class="col-12 col-md-8 col-lg-6">
      <%= render 'monsters/form', house: @house, monster: @monster  %>
    </div>
  </div>
</div>
